{% extends 'main/base.html'%}

{%block prodcut_card%}
{% for laptop in laptops %}
    <div class="product-card">
        <div class="product-image">
            <img src="{{ laptop.image.url }}" style="border: 2px solid #000; padding: 5px; margin-right: 40px;" alt="{{ laptop.mark }}">
        </div>
        <div class="product-details">
            <h2 style="margin-bottom: 50px; margin-top: -50px;"><a href="{% url 'laptop_detail' laptop.id %}">{{ laptop.mark }}</a></h2>
            <p style="max-width: 80%; margin-right: -40px;">{{ laptop.describe }}</p>
        </div>
        <p class="price" style="padding-right: 40px;">Цена: {{ laptop.price }}</p>
    </div>
{% endfor %}

{%endblock%} 



{%block paginatiob%}
<div class="pagination">
    <span class="step-links">
        {% if laptops.has_previous %}
            <a href="?page=1">&laquo; first</a>
            <a href="?page={{ laptops.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current-page">
            Page {{ laptops.number }} of {{ laptops.paginator.num_pages }}.
        </span>

        {% if laptops.has_next %}
            <a href="?page={{ laptops.next_page_number }}">next</a>
            <a href="?page={{ laptops.paginator.num_pages }}">last &raquo;</a>
        {% endif %}
    </span>
</div>
{%endblock%}
